<!-- remote modal -->
<div class="modal fade" id="remote_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
